--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple
accelerate==1.1.1
configargparse==1.7
ConfigSpace==1.2.0
datasets==3.1.0
evaluate==0.4.3
hpbandster==0.7.4
jiwer==3.0.5
librosa==0.10.2.post1
optuna==4.1.0
ray==2.40.0
safetensors==0.4.5
soundfile==0.12.1
sympy==1.13.1
tensorboard==2.18.0
tensorboardX==2.6.2.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.46.3
